body{
  font-family: 'Roboto',sans-serif;
}
h1,h2,h3,h4,h5,h6,p{
  font-family: 'Roboto',sans-serif;
}
h1{
  font-size: 2.5rem;
  font-weight: 300;
}
h2{
  font-size: 2rem;
  font-weight: 300;
}
.row{
  padding-top: 40px;
}
.container-fluid{
  background-color: darkgray;
}

body{
  background: url(../views/imagenes/shutterstock.jpg) no-repeat center center fixed;
  background-size: cover;
}
.carousel-inner{
  margin-top: 30px;
  
}